{{notification-container}}
<div class="container-default">
  <div class="container-admin">
    <div class="admin-menu">
      <ul class="nav navbar-nav nav-admin">
          <li class="nav-item"><a {{action "openDashboard"}} class="admin-item" href="#">Dashboard</a></li>
          <li class="nav-item"><a {{action "openRestaurants"}} class="admin-item" href="#">Restaurants</a></li>
          <li class="nav-item "><a class="admin-item" href="#">Locations</a></li>
          <li class="nav-item "><a class="admin-item" href="#">Users</a></li>
      </ul>
    </div>

    <div class="menu-component">
      {{#dashboard-component enabled=enableDashboard}}{{/dashboard-component}}
      {{#admin-restaurants enabled=enableRestaurants}}{{/admin-restaurants}}
    </div>
  </div>
</div>
