{{notification-container}}
<div class="container-default">
  <div class="container-admin">
    <div class="admin-menu">
      <ul class="nav navbar-nav nav-admin">
          <li class="nav-item"><a href="#">Dashboard</a></li>
          <li class="nav-item"><a href="#">Restaurant</a></li>
          <li class="nav-item "><a href="#">Locations</a></li>
          <li class="nav-item "><a href="#">Users</a></li>
      </ul>
    </div>

    <div class="menu-component">
      {{#dashboard-component}}{{/dashboard-component}}
    </div>
  </div>
</div>
