<div class="container-fluid">
<nav class="navbar navbar-inverse" style="z-index:1">
    <div class="container-fluid">
        <div class="navbar-header">
            {{#link-to "home"}}<a class="nav-link navbar-brand" href="#">eRestoran</a>{{/link-to}}
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">{{#link-to "home"}}<a class="nav-link" href="#">Home</a>{{/link-to}}</li>
            <li class="nav-item"><a class="nav-link" href="#">Restaurants</a></li>
            {{#if isAuthenticated}}
            <li class="nav-item"><a class="nav-link" href="#">Welcome {{user}}</a></li>
            <li class="nav-item"><a class="nav-link" {{action 'unauthenticate'}} href="#">Logout</a></li>
            {{else}}
            <li class="nav-item">{{#link-to "register"}}<a class="nav-link" href="#">Register</a>{{/link-to}}</li>
            <li class="nav-item">{{#link-to "login"}}<a class="nav-link" href="#">Login</a>{{/link-to}}</li>
            {{/if}}
        </ul>
  </div>
</nav>
</div>
{{outlet}}
