<div class="container-default">

  <div class="cover">
    <div class="mask">
      <div class="rest-img-div">
        <img class="rest-img" src="/assets/images/restaurant.jpg"><img>
      </div>
      <div class="rest-main">
        <h3 class="rest-name">Restaurant name</h3>
        <!--stars-->
        <p class="rest-category">Italian | International</p>
        <button class="rate-btn btn-outline">Rate this place</button>
    </div>
    </div>
  </div>
  <div class="rest-container">
    <div class="rest-div div-reserve">
      <p class="rest-subtitle">Make a free reservation</p>
    </div>
    <div class="rest-div div-desc">
      <p class="rest-subtitle">About Restaurant name</p>
    </div>
    <div class="rest-div div-menu">
      <p class="rest-subtitle">Menu</p>
    </div>
  </div>

</div>
