.add-user-panel{
  width: 100%;
  min-height: 600px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 1px 1px 5px 1px #d3d3d3;
}

.user-info-input{
  width: 50%;
  margin:auto;
}

.add-user-par{
  margin-top: 10px!important;
  text-align: center;
}

.user-input{
  width:100%;
	height: 30px;
	background-color: transparent;
	border: 0.1px solid #d3d3d3!important;
	text-align: center;
}
.create-user-btn{
  margin-top: 30px;
  margin-bottom: 30px;
}
