.add-restaurant-panel{
  width: 100%;
  height: 600px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px 1px #d3d3d3;
}

.add-restaurant-menu{
  height: 50px;
  width: 100%;
  border-bottom: solid 0.1px #d3d3d3;
}

.restaurant-menu-item{
  color: gray!important;
}

.restaurant-menu-item:hover{
  color: #Fe4a49!important;
}

.row-add-restaurant{
  height: auto;
}

.col-add-restaurant{
  height: 100%;
  width: 50%;
  padding: 40px;
  padding-top: 10px!important;
}

.col-left{
  float: left;
}

.col-right{
  float: right;
}

.add-restaurant-par{
  margin-top: 20px;
}

.add-logo{
  border: solid 0.1px #d3d3d3;
  height: 150px;
  width: 150px;
  padding: 40px;
  padding-top: 25px!important;
}

.restaurant-input{
  width:90%;
	height: 40px;
	background-color: transparent;
	border: 0.1px solid #d3d3d3!important;
	text-align: center;
}

.description-input{
  width: 90%;
  height: 100px;
  text-indent: 1px;
  border: 0.1px solid #d3d3d3!important;

}

.glyphicon-cloud-upload{
  color: #d3d3d3;
  font-size: 62px;
  text-align: center;
}

.logo-link{
  font-size: 10px;
  text-align: center;
  color: #d3d3d3;
}
.add-logo-link{
  text-decoration: none!important;
}

.add-cover{
  border: solid 0.1px #d3d3d3;
  height: 150px;
  width: 95%;
  padding-left: 43%;
  padding-right: 135px;
  padding-top: 25px!important;
}
.add-cover-link{
  text-decoration: none!important;
}

.two-input-row{
  width: 100%;
  height: 70px;
  margin-top: 20px;
  padding: 0!important;
}

.add-restaurant-par-double{
  width: 50%;
}

.par-left{
  float: left;
}
.par-right{
  float: left;
}

.input-row-left{
  width: 45%;
  margin-left:0!important;
  float: left;
}
.input-row-right{
  width: 50%;
  margin-left:0!important;
  float: right;
}

.create-restaurant-btn{
  width: 160px;
  float: right;
  margin-left: 30px;
}

.cancel-restaurant-btn{
  width: 160px;
  float: right;
  background-color: #fefefe;
  border: solid 0.1px #d3d3d3;
  color: #000000;

}
.buttons-restaurant{
  margin-top: 170px;
}
