.container-admin{
  padding-left: 15vw;
  padding-right: 15vw;
}

.admin-menu{
  height: 50px;
  width: 100%;
  box-shadow: 1px 1px 5px 1px #d3d3d3;
}

.admin-item{
  color: gray!important;
}

.admin-item:hover{
  color: #Fe4a49!important;
}
.menu-component{
  margin-top: 50px;
}
