
.home-title{
	font-size: 2em;
	position: absolute;
	top:30%;
	left: 50%;
	transform: translate(-50%, -50%);
  transform: scale(-50%, -50%);
	color: white;
	text-align: center;

}

.home-subtitle{
	font-size: 1.2em;
	position: absolute;
	top:36%;
	left: 50%;
	transform: translate(-50%, -50%);
  transform: scale(-50%, -50%);
	color: white;
	text-align: center;
}

.landingPage{
	height: 100vh;
	width: 100vw;
	top:0!important;
	position: absolute;
	background-size: cover;
	background-position: center;
	background-image: url("/assets/images/home.jpg");
    margin-bottom: 30px;
}

.mask{
	height: 100%;
	width: 100vw;
	top:0!important;
	position: absolute;
	background-size: cover;
	background-color: rgba(0,0,0,0.6);

}

.search-bar{

	top:50%;
  transform: translate(-50%, -50%);
	left: 36%;
	position: absolute;
}

.reservation-div{
	margin-left: 300px;
}

.search-input{
	width: 300px;
	height: 30px;
	border-radius: 0!important;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 12px;
}

.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}


/* add padding  */
.left-addon input  { padding-left:  30px; }





.popular-title{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
	position: absolute;
	top:110%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.restaurant-list{
	position: absolute;
	top:120%;
	width: 100%;
	margin-bottom: 50px;
}

.restaurant-row{
	width: 100%;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
}

.restaurant-col{
	margin:35px;
	height: 250px;
}

.restaurant-img{
	width: 100%;
	height: 170px;
	margin-bottom:10px;
}

.restaurant-name{
	font-size: 1.5em;

}

.restaurant-category{
	font-size:1em;
}

.thin{
	width: 100%;
	margin:0!important;
	margin-bottom: 4px!important;
}

.btn-reserve{
	width: 100%;
  height: 30px;
  font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

.specialsPage{
	width: 100%;
	height: 500px;
  margin-top: 120%;

	position: absolute;
	background-size: cover;
	background-position: center;
	background-image: url("/assets/images/specials.jpg");
}

.home-specials{
	font-size: 2em;
	position: absolute;
	top:10%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}

.specials-row{
	width: 100%;
  height: 100%;
  padding-left: 20px;
}

.swiper-container{
  height: 100%;
  width:100%;
  color: white;
}

.specials-items{
	width: 100%;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
  margin-top: 100px;
}

.specials-col{
  margin:35px;
	height: 250px;
}

.specials-img{
  width: 100%;
	height: 170px;
	margin-bottom:10px;
}

.specials-name{
  font-size: 2em;
}

.locationsPage{
  width: 100%;
	height: 500px;
  margin-top: 160%;
	position: absolute;
}

.home-locations{
  	font-size: 2em;
font-family: Arial, Helvetica, sans-serif;
  	position: absolute;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align: center;
    margin-bottom: 50px;
}

.locations-row{
	width: 100%;
  position: absolute;
  top:15%;
	margin-left: 100px!important;

	margin-bottom: 50px;
}

.locations-col{
	margin:35px;
	height: 50px;
}

.location-name{
  font-size: 1.4em;
  margin-bottom: 0;
}

.location.number{
  font-size: 0.9em;

}

.footer{
  position: absolute;
  margin-top:190%;
  width: 100%;
  height: 200px;
  background-color: #202030;
}

.footer-text{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 150px;
  margin-left: 60px;
}
