{{#if enabled}}
<div class="add-restaurant-panel">
  <div class="add-restaurant-menu">
    <ul class="nav navbar-nav nav-add-restaurant">
        <li class="nav-item"><a  class="restaurant-menu-item" href="#">Basic details</a></li>
        <li class="nav-item"><a  class="restaurant-menu-item" href="#">Menu</a></li>
        <li class="nav-item "><a  class="restaurant-menu-item" href="#">Tables</a></li>
    </ul>
  </div>
  <div class="row-add-restaurant">
    <div class="col-add-restaurant col-left">
      <p class="add-restaurant-par">Add Logo</p>
        <div class="add-logo">
          <a class="add-logo-link" href="#">
            <span class="glyphicon glyphicon-cloud-upload"></span>
            <p class="logo-link">Upload Logo</p>
          </a>
        </div>
      <p class="add-restaurant-par">Name</p>
      {{input value=restaurantName class="restaurant-input" onfocus="this.placeholder = ''" type="text"}}
      <p class="add-restaurant-par">Description</p>
      {{textarea value=restaurantDesc class="description-input input-large"  onfocus="this.placeholder = ''"
            type="text"}}
    </div>
    <div class="col-add-restaurant col-right">
      <p class="add-restaurant-par">Add Cover Photo</p>
        <div class="add-cover">
          <a class="add-cover-link" href="#">
            <span class="glyphicon glyphicon-cloud-upload"></span>
            <p class="logo-link">Upload Cover <br>Photo</p>
          </a>
        </div>
        <div class="two-input-row">
          <div class="input-row-left">
            <p class="add-restaurant-par-double par-left">Category</p>
            {{input value=restaurantName class="restaurant-input input-left" onfocus="this.placeholder = ''" type="text"}}
          </div>
          <div class="input-row-right">
            <p class="add-restaurant-par-double par-right">Location</p>
            {{input value=restaurantName class="restaurant-input input-right" onfocus="this.placeholder = ''" type="text"}}
          </div>
        </div>
        <div class="buttons-restaurant">
        <button class="button-add create-restaurant-btn">Add restaurant</button>
          <button class="button-add cancel-restaurant-btn">Cancel</button>
      </div>
    </div>

  </div>

</div>
{{/if}}
