{{#if enabled}}
<div class="location-head">
  <div class="input-group search-input-group">
      <input type="text" class="form-control"  placeholder="Search locations" >
          <span class="input-group-addon">
                <button type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
          </span>
  </div>
  <button {{action 'openAddLocation'}} class="button-add add-restaurant">Add location</button>
</div>
<table class="table table-hover table-bordered table-locations">
    <thead>
      <tr>
        <th>Name</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th class="options-col">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>West Willieville</td>
        <td>x</td>
        <td>x</td>
        <td>
          <a href="#">
          <span class="glyphicon glyphicon-pencil admin-glyphicon"></span>
          </a>
          <a href="#">
          <span class="glyphicon glyphicon-trash admin-glyphicon"></span>
          </a>
        </td>
      </tr>
      <tr>
        <td>West Willieville</td>
        <td>x</td>
        <td>x</td>
        <td>
          <a href="#">
          <span class="glyphicon glyphicon-pencil admin-glyphicon"></span>
          </a>
          <a href="#">
          <span class="glyphicon glyphicon-trash admin-glyphicon"></span>
          </a>
        </td>
      </tr>
      <tr>
        <td>West Willieville</td>
        <td>x</td>
        <td>x</td>
        <td>
          <a href="#">
          <span class="glyphicon glyphicon-pencil admin-glyphicon"></span>
          </a>
          <a href="#">
          <span class="glyphicon glyphicon-trash admin-glyphicon"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
{{/if}}
