<div class="dropdown-home dropdown-people">
    <select class="select-home">
        <option value="1" selected>2 people</option>
    </select>
</div>
<div class="dropdown-home dropdown-date">
    {{pikaday-input class="pikaday" format="MM/DD/YYYY" value="02/02/2017" theme="dark-theme" }}

</div>
<div class="dropdown-home dropdown-time">
    <select class="select-home">
        <option value="1" selected>7 PM</option>
    </select>
</div>
<button class="btn-outline btn-home">Find a table</button>
