<!--<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ERestoranFE</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <base href="/" />
        <meta name="e-restoran-fe/config/environment" content="%7B%22modulePrefix%22%3A%22e-restoran-fe%22%2C%22environment%22%3A%22production%22%2C%22rootURL%22%3A%22/%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%2C%22EXTEND_PROTOTYPES%22%3A%7B%22Date%22%3Afalse%7D%7D%2C%22APP%22%3A%7B%22name%22%3A%22e-restoran-fe%22%2C%22version%22%3A%220.0.0+d6b8444a%22%7D%2C%22baseURL%22%3A%22/%22%2C%22LOG_DIALOG%22%3Atrue%2C%22languages%22%3A%5B%7B%22code%22%3A%22ru%22%7D%2C%7B%22code%22%3A%22en%22%7D%5D%2C%22ember-dialog%22%3A%7B%22layoutPath%22%3A%22layouts%22%7D%2C%22exportApplicationGlobal%22%3Afalse%7D" />
        <script src="//maps.googleapis.com/maps/api/js?v=3"></script>

        <link rel="stylesheet" href="../../public/eRestoran_FE/dist/assets/vendor-4dc6ef7798222b9205e30e3f6fed5284.css" integrity="sha256-4A07wdSvHnN7fPKSbaCBgLga+vxRnoE085thqV7EFjM= sha512-mYY66Bx8o6etF8IMCY5UfrmeTtCx0zLNnyDqjQBmyPEhEvJi/Ery8w56BOZZrvdBO6/mTwC95mvJmsNLwQ+q4A==" >
        <link rel="stylesheet" href="../../public/eRestoran_FE/dist/assets/e-restoran-fe-31009fe5b4cfcfef507365a8736d8283.css" integrity="sha256-C1HEQEhgMPDdussBs/mw8BI9g0qe7Ti3I9wV/i7H/C4= sha512-APUm6XIwmoDPdvES5C+el/pSV62A5V/TpBvjd5m+6sL4rhs786Devjs71fS21nuUGrDMd2wDRW7ylqQHPa64Ig==" >


    </head>
    <body>


        <script src="../../public/eRestoran_FE/dist/assets/vendor-9ffb36c9313818e6e762f5a1a6839944.js" integrity="sha256-PpvhUlDS1u8tjBurfYAiKWZz6lJNq+L23UBRYOJfIJk= sha512-lgi7j2gEiLKEGoI7g0ctLJb3ZCKgGOArcKwTyPRRYxx6hqMwvR84AKOY6Zl1YO/ptnl7sVUltSrhW21H8bdyxQ==" ></script>
        <script src="../../public/eRestoran_FE/dist/assets/e-restoran-fe-1331c6d903ca0fe088e22b12cd16fe16.js" integrity="sha256-PI4/Mhqrh533QZqjqfsgnZpHJww30QdSUDyY5+nu3KU= sha512-LdNnUgmMF7F/jF92Z6EJslNfWKYlyAAdMOH5vCelZFgxIxnRvucyJFOC+eRPnXf6n/MFE971XKDqov9TUa2Enw==" ></script>

        <div id="ember-bootstrap-wormhole"></div>
    </body>
</html>-->
<h1>Welcome</h1>
